@import '../../../styles/index';

@messagePrefix: ~'@{acme-prefix}-message';

.@{messagePrefix}-wrap {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 20202020;
  transform: translateX(-50%);
}

.@{messagePrefix} {
  display: flex;
  min-width: 320px;
  padding: @spacing-md;
  margin-top: @spacing-md;
  text-align: center;
  background-color: @bg-color-white;
  justify-content: space-around;
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.1);
  border-radius: @border-radius-normal;
  transition: all ease-out 0.2s;
  animation: inner 0.1s;
}

.@{messagePrefix}-info {
  color: @color-primary;
}

.@{messagePrefix}-warning {
  color: @color-warning;
}

.@{messagePrefix}-success {
  color: @color-success;
}

.@{messagePrefix}-error {
  color: @color-error;
}

@keyframes inner {
  0% {
    margin-top: @spacing-xl;
  }
  100% {
    margin-top: @spacing-md;
  }
}

.@{messagePrefix}-close {
  padding-top: 0;
  padding-bottom: 0;
}
