@import '../../../styles/index';

@messagePrefix: ~'@{acme-prefix}-message';

.@{messagePrefix}-wrap {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 20202020;
  transform: translateX(-50%);
}

.@{messagePrefix} {
  padding: @spacing-sm @spacing-md;
  margin: @spacing-sm;
  text-align: center;
  background-color: @bg-color-white;
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.1);
  border-radius: @border-radius-normal;
  transition: all ease-out 0.5s;
}

.@{messagePrefix}-info {
  color: @color-primary;
}

.@{messagePrefix}-warning {
  color: @color-warning;
}

.@{messagePrefix}-success {
  color: @color-success;
}

.@{messagePrefix}-error {
  color: @color-error;
}
